{% extends "layout.html" %}

{% block body %}
<div class="container">
  <div class="page-header">
      <h1>
          Sentiment Analysis
      </h1>
  </div>
  {% block body2 %}
  <form action="{{ url_for('search') }}" class="form-inline" method="get">
      <div class="form-group">
        <label class="sr-only" for="screen_name">screen_name</label>
        <input class="form-control" name="screen_name" placeholder="@screen_name" type="text"/>
      </div>
      <button class="btn btn-default" type="submit">Search</button>
  </form>
  {% endblock %}
  <div class="page-header">
      <h1>
          Francine's Personal Interests
      </h1>
  </div>
  {% block body3 %}
  <form action="{{ url_for('search2') }}" class="form-inline" method="get">
      <div class="form-group">
        <label class="sr-only" for="screen_name">screen_name</label>
        <input class="form-control" name="screen_name" placeholder="@screen_name" type="text"/>
      </div>
      <button class="btn btn-default" type="submit">Search</button>
  </form>
  {% endblock %}
</div>
{% endblock %}